/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@font-face {
    font-family: 'pixel';
    src: url('assets/fonts/pixel/Megamax.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
  --font-sans: "pixel", sans-serif;
}


button {
  @apply bg-green-600 rounded-md px-4 py-2 shadow-md hover:bg-green-700 transition-colors duration-200 active:bg-green-800 disabled:bg-zinc-400 disabled:cursor-not-allowed;
}

button.text {
    @apply text-2xl p-0 bg-transparent border-none shadow-none hover:text-green-500 active:text-green-600 disabled:text-zinc-400 disabled:cursor-not-allowed;
}

body {
  @apply text-zinc-200 uppercase; 
}

